<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <logger name="Log4NetTest">
      <level value="ERROR"/>
      <appender-ref ref="Log4NetTestAppender" />
        <!--Log4NetTestAppender和下面进行对应-->
    </logger>

    <logger name="RYJ.Crm.Quartz">
      <level value="ERROR"/>
      <appender-ref ref="QuartzAppender" />
    </logger>

    <logger name="RYJ.Crm.Services">
      <level value="ERROR"/>
      <appender-ref ref="ServiceAppender" />
    </logger>

    <logger name="RYJ.Crm.ExternalService">
      <level value="ERROR"/>
      <appender-ref ref="ExternalServiceAppender" />
    </logger>

    <logger name="RYJ.Crm.HeartBeat">
      <level value="DEBUG"/>
      <appender-ref ref="HeartBeatAppender" />
    </logger>

    <logger name="RYJ.Crm.System">
      <level value="ERROR"/>
      <appender-ref ref="SystemAppender" />
    </logger>

    <logger name="RYJ.Crm.UrlFilter">
      <level value="DEBUG"/>
      <appender-ref ref="UrlFilterAppender" />
    </logger>

    <logger name="NHibernate">
      <level value="OFF"/>
      <appender-ref ref="NHibernateAppender" />
    </logger>

    <logger name="RYJ.Return">
      <level value="DEBUG"/>
      <appender-ref ref="ReturnAppender" />
    </logger>

    <logger name="RYJ.Crm.Event">
      <level value="DEBUG"/>
      <appender-ref ref="EventAppender" />
    </logger>

    <logger name="RYJ.Crm">
      <level value="ERROR"/>
      <appender-ref ref="EmailAppender" />
    </logger>

    <!--返回值异常日志记录-->
    <appender name="Log4NetTestAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Log4NetTest/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--返回值异常日志记录-->
    <appender name="ReturnAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Return/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--事件异常日志记录-->
    <appender name="EventAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Event/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--系统异常日志记录-->
    <appender name="SystemAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/System/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--调度日志记录-->
    <appender name="QuartzAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Quartz/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--Service日志记录-->
    <appender name="ServiceAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/Service/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--调用外部服务日志记录-->
    <appender name="ExternalServiceAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/ExternalService/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--HeartBeat日志记录-->
    <appender name="HeartBeatAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/HeartBeat/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--UrlFilter日志记录-->
    <appender name="UrlFilterAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/UrlFilter/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--NHibernate日志记录-->
    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/NHibernate/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>

    <!--邮箱设置-->
    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <!-- SMTP 验证方式 -->
      <authentication value="Basic" />
      <to value="" />
      <from value="service@daishu360.com" />
      <username value="service@daishu360.com" />
      <password value="DSpuhui360.cn" />
      <subject value="【本地环境】CRM后台API错误异常" />
      <!--邮件服务端-->
      <smtpHost value="smtp.exmail.qq.com"/>
      <bufferSize value="10240" />
      <lossy value="true" />
      <!--这里我设置的是Error ，会接收（FATAL和ERROR日志）你可以根据自己的需要设置Log4net支持多种级别的日志。优先级从高到低依次排列如下:FATAL > ERROR > WARN > INFO > DEBUG-->
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="OFF"/>
      </evaluator>
      <!--输出格式-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>
  </log4net>
</configuration>
